.col-lg-4
  .matter_fr_boxOne.Top
    .mi_cn.clearfix
      h3.mi_h3 新闻热搜榜
      .more
        a(href='http://www.696px.com/list/word/word.html', target='_blank', style='margin-right:10px;')
          em.ko &#xE900;
          | 更多
    .mi_cc
      .mi_cc_ci
        ul.mi_ul
          li
            i(class='') i
            span center
            a(href='href', target='_blank', title='index') index
  .matter_fr_boxTwo
    .mi_cn.clearfix
      h3.mi_h3 热点焦距
      .more
        a(href='http://www.696px.com/list/burnt/burnt.html', target='_blank', style='margin-right:10px;')
          em.ko &#xE900;
          | 更多
    .mi_bc
      ul.mi_bc_ul
        li
          a(href='href', title='index', target='_blank')
            span.mi_bc_img
              img(src='img', alt='index')
            em index
            span.mi_bc_posi span
        li
          a(href='href', title='index', target='_blank')
            span.mi_bc_img
              img(src='img', alt='index')
            em index
            span.mi_bc_posi span
        li
          a(href='href', title='index', target='_blank')
            span.mi_bc_img
              img(src='img', alt='index')
            em index
            span.mi_bc_posi span
  .matter_fr_boxthree
    .mi_cn.clearfix
      h3.mi_h3 健身误区
      .more
        a(href='http://www.696px.com/list/burnt/burnt.html', target='_blank', style='margin-right:10px;')
          em.ko &#xE900;
          | 更多
    .mi_cc
      .mi_cc_ci
        ul.mi_ulc
          li
            i &#xE90A;
            a(href='href', target='_blank', title='index') index
