extends ../layout
block topcss
  link(href="/css/list-9c6e01dfb1.css",rel="stylesheet")
block content
  .container
    .row
      .col-lg-8
        .matter_fl_page
          .mod_a
            a.mod_a_a(href='http://696px.com', target='_blank')
              i &#xE905;
              em 696Px
            span &raquo;
            a(href='http://696px.com/list/fashion/fashion.html', target='_blank')
              | shishang
            span &raquo;
            b 1
          h2 1
          address
            | [
            span 2015-11-28 19:40:08
            span.aonne
              a(href='')
                | plun
            span laiyuan:696px
            |                     ]
          // 主要更改内容区域
          .text
            .text_pa
            p &#x3000;&#x3000;
            p
              strong
            p
            p
            p.text_mz
              strong
          .pageNum
            span
              a(target='_self', href='#') &lt;
            span#pageNN
              a(target='_self', href='#') 1
            span
              a(target='_self', href='#p=2') 2
            span
              | ...
            span
              a(target='_self', href='#') 55
            span
              a(target='_self', href='#') &gt;
      .col-lg-4
        .matter_fr_boxOne.Top
          .mi_cn.clearfix
            h3.mi_h3 xwrsc
            .more
              a(href='http://www.696px.com/list/word/word.html', target='_blank', style='margin-right:10px;')
                em.ko &#xE900;
                |                                 gengduo
          .mi_cc
            .mi_cc_ci
              ul.mi_ul
                li
                  i({{class}}='') {{i}}
                  span {{center}}
                  a(href='{{href}}', target='_blank', title='{{index}}') {{index}}
        .matter_fr_boxTwo
          .mi_cn.clearfix
            h3.mi_h3 redianjiaoju
            .more
              a(href='http://www.696px.com/list/burnt/burnt.html', target='_blank', style='margin-right:10px;')
                em.ko &#xE900;
                |                                 gengduo
          .mi_bc
            ul.mi_bc_ul
              li
                a(href='{{href}}', title='{{index}}', target='_blank')
                  span.mi_bc_img
                    img(src='{{img}}', alt='{{index}}')
                  em {{index}}
                  span.mi_bc_posi {{span}}
              li
                a(href='{{href}}', title='{{index}}', target='_blank')
                  span.mi_bc_img
                    img(src='{{img}}', alt='{{index}}')
                  em {{index}}
                  span.mi_bc_posi {{span}}
              li
                a(href='{{href}}', title='{{index}}', target='_blank')
                  span.mi_bc_img
                    img(src='{{img}}', alt='{{index}}')
                  em {{index}}
                  span.mi_bc_posi {{span}}
        .matter_fr_boxthree
          .mi_cn.clearfix
            h3.mi_h3 jianshenwuqu
            .more
              a(href='http://www.696px.com/list/burnt/burnt.html', target='_blank', style='margin-right:10px;')
                em.ko &#xE900;
                | gengduo
          .mi_cc
            .mi_cc_ci
              ul.mi_ulc
                li
                  i &#xE90A;
                  a(href='{{href}}', target='_blank', title='{{index}}') {{index}}
block botjs
  script(src='js/list-e820af130b.js')
